/*
  white: #FFFFFF
  green: #337500            accent 1
  dark teal: #115c54        accent 2
*/

h1 {
  color: #337500;
  text-align: center;
}

th, td {

  border-color: #115c54;
  border-style: solid;
  border-width: 25px;
  padding: 25px;

}

table {
  border-collapse: collapse;
}

a {
  color: #337500;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #115c54;
}

p.paragraph {
  background-color: #337500;
  color: white;
  width: 500px;
  padding: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: #115c54;
  margin: 10px;
}

div {
  background-color: #337500;
  width: 646px;
  padding: 12px;
  border-style: dotted;
  border-width: 12px;
  border-color: #115c54;
  margin: 12px;
}

body {
  padding: 20px;
  font-size: 20px;
}